# Hugging Face token, needed for diarization model
HF_TOKEN=hf_hfff

# OpenAI Compatible API 
# Set translation.engine to "llm" in config.yaml to use this 
DUBIO_LLM_API_KEY=sk-skrrrt
DUBIO_LLM_MODEL=gpt-4o-mini
DUBIO_LLM_BASE_URL=https://api.openai.com/v1

# If you want to use Gemini, you need to change the translation engine to "gemini" in the config.yaml file. 
# You also need to set the GEMINI_API_KEY and GEMINI_MODEL environment variables below.
GEMINI_API_KEY=gg-gmn
GEMINI_MODEL=gemini-3.5-flash

# If you want to use the audio.cpp library for audio processing, you need to set the AUDIOCPP_PATH environment variable below.
# Make sure to build the audio.cpp library first and set the path to the built binary.
AUDIOCPP_PATH=./audiocpp-build/audio.cpp/build/linux-cuda-release/bin/audiocpp_cli
